.hotel-img{ 
    height: 500px;
    width: 500px;
    margin-top: 7%;
    margin-left: 4%;
    margin-right: 4%;
}
form{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
.hotel-description{
    position: absolute;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 7%;
    margin-top: 1%;
}
