.hotel-img{
    height: 200px;
    width: 250px;
}
#list{
    scroll-behavior: smooth;
}
#map{
    display: none;  
    scroll-behavior: smooth;
}
.hotels{
    background-color: lightgrey;
    width: 40%;
    float: left;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-top: 3%;
}
.content{
    display: flex;
    flex-direction: column;
}