
#marginDesc{
    padding: 1%;
}
.imgDiv{
    background-color: rgb(132,136,139); 
    margin: 7% auto; 
    margin-top: 9%;
    margin-bottom: 2%;
    flex-direction: row;
    display: flex;
    width: 50%;
    height: auto;
}
.mainDiv{
    margin-bottom: 100px; 
    flex-direction: column;
    display: flex;
}
.descSty{
    display: flex; 
    font-family: cursive; 
    background-color:rosybrown; 
    border:1px solid black; 
    border-radius: 5px; 
    margin-right: 2%; 
    margin-left: 2%;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
}